<div class="container">
    <div class="left-section">
      <img src="https://i.postimg.cc/SxjsQq6K/painting-palette.png" alt="Palette" class="palette-image" />
    </div>
  
    <div class="right-section">
      <div class="logo-container">
        <img src="https://i.postimg.cc/T1HK0SRQ/Pintaloo-1.png" alt="Pintaloo Logo" class="pintaloo-logo" />
      </div>

      <mat-card>
        <form [formGroup]="registerForm" class="formContainer" (ngSubmit)="onSubmit()">
          <h3 class="form-title">Regístrate en Pintaloo</h3>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Tu nombre" required />
            <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="ejemplo@gmail.com" required />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
              El email es obligatorio.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" placeholder="***" required />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
              La contraseña es obligatoria.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Repite la contraseña</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="***" required />
            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
              Debes confirmar la contraseña.
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="registerForm.invalid">
            Registrarse
          </button>

          <p class="signup-text">¿Ya tienes cuenta?
            <a [routerLink]="['/login']" class="signup-link">Inicia sesión</a>
          </p>
        </form>
      </mat-card>
    </div>
</div>