.globalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.globalHeaderContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.headerContainer {
    background-color: #f0fafc;
    height: 100%;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5%;
}

.mainLogoContainer {
    background-color: #f0fafc;
    height: 100%;
    width: min-content;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 5%;
}

.avatarContainer {
    display: flex;
    width: 100%;
    background-color: rgb(253, 195, 35);
    height: min-content;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.avatarImage {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}

/* Navbar */
.navbarContainer {
    display: flex;
    height: 60vh;
    gap: 15px;
    background-color: #9FD6F4;
    width: 5%;
    border-radius: 0px 10px 10px 0px;
}

.navbarRightContainer {
    display: flex;
    width: 10%;
    border-radius: 0px 10px 10px 0px;
    flex-direction: column;
    padding-right: 10px;
}

.navbarText {
    font-family: Baloo2;
    margin: 0px;
}

.menuOptionContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: min-content;
    gap: 10px;
}

.menuOption {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: min-content;
    gap: 10px;
    padding-bottom: 5px;
}

.menuOptionContainer:hover {
    background-color: #f0fafc;
    transition: 0.2s;
    cursor: pointer;
}

.menuDivider {
    border-color: rgb(168, 168, 168);
    height: 2px;
    width: 100%;
}

.premiumTitle {
    padding: 10px !important;
    margin: 0px !important;
    font-family: Baloo2;
    font-weight: bold;
}

.mainLogo {
    max-height: 70px;
    cursor: pointer;
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    justify-content: space-between;
}

.routerContainer {
    width: 80%;
}
