.globalHeaderContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.headerContainer {
    background-color: #f0fafc;
    height: 100%;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5%;
}

.mainLogoContainer {
    background-color: #f0fafc;
    height: 100%;
    width: min-content;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.avatarImage {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}

.premiumTitle {
    padding: 10px !important;
    margin: 0px !important;
    font-family: Baloo2;
    font-weight: bold;
}

.mainLogo {
    max-height: 30px;
    cursor: pointer;
    padding: 10px;
    min-width: 60px;
}

.sessionButton {
    border: none;
    background-color: #f0fafc;
    border-radius: 50px;
    padding: 10px;
    font-family: Baloo2;
    margin-right: 10px;
}

.sessionButton:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}